@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
	--blue: #0b7ff3;
	--lightBlue: #1e8fff1c;
	--darkBlue: #094581;
	--white: #f5f3f3;
	--lightRed: #fdc8c8;
	--red: #c51b1b;
}

* {
	font-family: "Poppins", sans-serif;
}

body {
	padding: 16px 24px;
}

.header {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

header > .logo {
	font-family: "Lobster Two", cursive;
	font-size: 42px;
	font-weight: 700;
	color: var(--darkBlue);
}

.container {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 40px 0;
}

.heading1 {
	font-size: 36px;
	font-weight: 700;
	color: var(--darkBlue);
}

.form {
	width: 40%;
	display: flex;
	flex-direction: column;
	gap: 12px;
	align-items: center;
	justify-content: center;
}

.input {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.input > .input__label {
	font-weight: 500;
	color: var(--darkBlue);
	font-size: large;
}

.input > .input__field {
	outline: none;
	border: none;
	background-color: var(--lightBlue);
	width: 100%;
	border: 1px solid transparent;
	padding: 18px 24px;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
}

.input.error .input__field {
	border: 1px solid var(--red);
	background-color: var(--lightRed);
}

.input.success .input__field {
	border: 1px solid var(--blue);
}

.err__msg {
	display: none;
	text-align: center;

	align-items: center;
	width: 100%;
	padding: 12px 16px;
	align-self: flex-start;
	border-radius: 6px;
	font-size: 16px;
	font-weight: 500;
	color: var(--red);
	background-color: var(--lightRed);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
}

.popup.error .err__msg {
	display: flex;
	color: var(--red);
}

.btn {
	border: none;
	outline: none;
	padding: 14px 26px;
	align-self: flex-start;
	cursor: pointer;
	background-color: var(--darkBlue);
	color: var(--white);
	border-radius: 12px;
	font-size: medium;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
}

form > button {
	margin-top: 16px;
}

.btn:hover {
	background-color: var(--blue);
}

.gender__container {
	display: flex;
	gap: 16px;
	align-items: center;
	align-self: flex-start;
}

.gender__container > .input__label {
	font-weight: 500;
	color: var(--darkBlue);
	font-size: large;
}

.gender {
	display: flex;
	gap: 14;
	align-items: center;
}

.pageLink {
	display: flex;
	align-items: center;
	gap: 6px;
}

.pageLink a {
	text-decoration: none;
	color: var(--darkBlue);
}

.pageLink a:hover {
	color: var(--blue);
}
