@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
	--blue: #0b7ff3;
	--lightBlue: #1e8fff1c;
	--darkBlue: #094581;
	--white: #f5f3f3;
	--lightRed: #fdc8c8;
	--red: #c51b1b;
	--lightGreen: #6bfda8;
	--darkGreen: #0a833c;
}

* {
	font-family: "Poppins", sans-serif;
}

body {
	padding: 16px 24px;
}

.header {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

header > .logo {
	font-family: "Lobster Two", cursive;
	font-size: 42px;
	font-weight: 700;
	color: var(--darkBlue);
}

.header__right {
	display: flex;
	gap: 12px;
	align-items: center;
}

.user__icon {
	color: var(--white);
	background-color: var(--darkBlue);
	font-size: 20px;
	padding: 10px 16px;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
}

a {
	text-decoration: none;
}

.btn {
	border: none;
	outline: none;
	padding: 14px 26px;
	align-self: flex-start;
	cursor: pointer;
	background-color: var(--darkBlue);
	color: var(--white);
	border-radius: 12px;
	font-size: medium;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
}

.btn:hover {
	background-color: var(--blue);
}

body {
	background-color: var(--white);
	margin: 0;
	overflow-x: hidden;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.todoForm {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.todoForm__container {
	width: 70%;
	min-height: 20vh;
	display: flex;
	align-items: center;
	gap: 10px;
	justify-content: space-around;
}
.todoForm__container > input {
	outline: none;
	border: none;
	background: var(--lightBlue);
	color: var(--darkBlue);
	width: 100%;
	border: 2px solid var(--lightBlue);
	padding: 18px 24px;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
}

.todo__btn {
	color: var(--white);
	background: var(--darkBlue);
	text-align: center;
	border-radius: 6px;
	font-size: 26px;
	padding: 8px 16px;
	border: none;
	outline: none;
	cursor: pointer;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
}

.todo__btn:hover {
	background: var(--blue);
	color: white;
}
.todo-container {
	display: flex;
	justify-content: center;
	width: 100%;
	align-items: center;
}

.todo-list {
	min-width: 50%;
	list-style: none;
}

.todo {
	margin: 0.5rem;
	font-size: 16px;
	background-color: #fff;
	color: var(--darkBlue);
	padding-left: 16px;
	border: 1px solid var(--lightBlue);
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 8px;
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
}
.filter-todo {
	padding: 1rem;
}
.todo li {
	flex: 1;
}

.trash-btn {
	background: var(--lightRed);
	color: var(--red);
	border: none;
	padding: 1rem;
	cursor: pointer;
	font-size: 1rem;
	border-radius: 0px 8px 8px 0px;
}

.edit-btn {
	background: var(--lightBlue);
	color: var(--darkBlue);
	border: none;
	padding: 1rem;
	cursor: pointer;
	font-size: 1rem;
}

.complete-btn {
	background: var(--lightGreen);
	color: var(--darkGreen);
	border: none;
	padding: 1rem;
	cursor: pointer;
	font-size: 1rem;
}

.todo-item {
	padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
	pointer-events: none;
}

.fall {
	transform: translateY(10rem) rotateZ(20deg);
	opacity: 0;
}

.completed {
	text-decoration: line-through;
	opacity: 0.5;
}

select {
	color: var(--white);
	background-color: var(--darkBlue);
	font-family: "Poppins", sans-serif;
	cursor: pointer;
	width: 12rem;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	padding: 0px 16px;
	outline: none;
	border: none;
}

.profile__section {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
}

.btnEdit {
	border: none;
	outline: none;
	padding: 14px 26px;
	cursor: pointer;
	background-color: var(--darkBlue);
	color: var(--white);
	border-radius: 12px;
	font-size: medium;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
}

.footer__left {
	display: flex;
	flex-direction: column;
	gap: 10;
}

.gif__container {
	width: 200px;
	height: 200px;
	background-size: cover;
	background-image: url("https://i.gifer.com/9ZnV.gif");
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.todo-item {
	outline: none;
	border: none;
	width: 100%;
}

input[type="radio"] {
	border: 1px solid var(--darkBlue);
}

.username {
	color: var(--darkBlue);
	font-size: 34px;
}

/* footer */
.footer {
	display: flex;
	width: 100%;
	align-items: flex-end;
	justify-content: space-between;
}

.timer h1 {
	color: var(--darkBlue);
	background-color: var(--lightBlue);
	padding: 10px 30px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

/* Weather */

.weather {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--lightBlue);
	padding: 24px 20px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.app-title p {
	text-align: center;
	padding: 15px;
	margin: 0 auto;
	font-size: 1.2em;
	color: #293251;
}

.notification {
	background-color: #f8d7da;
	display: none;
}

.notification p {
	color: #721c24;
	font-size: 16px;
	margin: 0;
	text-align: center;
	padding: 10px 0;
}

.weather-container {
	border-radius: 10px;
}

.weather-icon img {
	width: 80px;
}

.temperature-value p {
	padding: 0;
	margin: 0;
	color: #293251;
	font-size: 22px;
	text-align: center;
}

.temperature-value span {
	color: var(--darkBlue);
	font-size: 0.5em;
}

.temperature-description p {
	margin: 0;
	color: var(--darkBlue);
	text-align: center;
	font-size: 18px;
}

.location p {
	margin: 0;
	padding: 0;
	color: #293251;
	text-align: center;
	font-size: 0.8em;
}
